.navbar {
    display: flex;
    width: 100%;
    padding: 20px 30px;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 10;
}

.logo {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
}

.navbtn {
    font-weight: lighter;
    text-transform: capitalize;
    font-size: 1.125rem;
    line-height: 1.75rem;
}